h1{
  color: #FFFFFF;
  font-size: 30px;
  font-family: serif;
  font-family: 'Caveat', cursive;
}

p{
  color:#FFFAFA;
  font-family: "UD デジタル 教科書体 NK-R","UD Digi Kyokasho NK-R";
}

body {
  background-color: #996666;
}
